/* Article styling */

article {
    padding: 0;
} 
.guest-content {
    blockquote {
        max-width: 650px;
        margin: 0 auto 0;
        padding: 3em 5em 3em;
    } 
    img {
        width: auto;
        height: auto;
    }
}
.article__content {
    max-width: 650px;
    margin: 6em auto 0em;
    overflow: hidden;
    padding: 0 1em;
}
.primary-content {
    margin: 0 auto 0;
    overflow: hidden;
}
.article-archive {
    max-width: 1000px;
    margin: 0 auto 0;
}
.article-preview {
    max-width: 650px;
    .entry-meta {
        text-align: center;
    }
    p {
        margin: 0.5em auto;
    }
}

.article__title {
    width: 100%;
    text-align: center;
    display: block;
    position: relative;
    top: 5%;
    padding: 0.25em;
    margin: 0;
    h1 {
        @include font-size(9, 10);
        color: $dark-gray;
    }
    p {
        margin: 0.25em;
        color: $dark-gray;
    }
}

@media (max-width: 900px) {
    .article__content {
        margin: 3em auto 0em;
    }
}