nav{
	ul {
		margin: 0;
	}
}
.nav__primary {
	position: absolute;
	right: 0;
    display: inline-block;
    margin: 0.5em 2em;
    li {
        display: inline-block;
        margin: 0 0.75em;
    }
}
.sitetitle {
	position: absolute;
	left: 0;
	display: inline-block;
	margin: 0.5em 2em;
	line-height: 30px;
	a, a:visited {
        color: $dark-gray;
        text-decoration: none;
	}
}

@media (max-width: 900px) {
	.nav__primary li {
		margin: 0 0.4em;
	}
}